
.container{
    width: 300px;
    height: 300px;

}
.gameboard{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));

}

.box{
    
    border: 1px solid black;
    height: 100px;
}

